{% trans_default_domain 'FOSUserBundle' %}

	<div class="container bodyContent">
        <div class="col-sm-12">

            <h1 class="titlePage mt-30 mb-50">Mon profil</h1>

            {% for message in app.session.flashbag.get('info') %}
                <div class="row alert alert-success alert-dismissible mt-30 mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% if is_granted('ROLE_NATURALIST') %}
                <div class="row">
                    <ul class="nav nav-pills mb-20 profilNav">
                        <li class="active btnProfil"><a data-toggle="tab" href="#profil" aria-controls="profil">Profil</a></li>
                        <li class="btnProfil"><a data-toggle="tab" href="#valider" aria-controls="valider">A valider</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="btnProfil"><a data-toggle="tab" href="#blog" aria-controls="blog">Blog</a></li>
                            <li class="btnProfil"><a data-toggle="tab" href="#naturalist" aria-controls="naturalist">Naturalistes</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="tab-content">
                    <div id="profil" class="tab-pane fade in active">
                        <div class="col-sm-6 login mr-20 boxProfil">
                            <h3 class="profilCaseTitle green">Mon profil</h3>
                            <div class="col-md-6">
                                <p>{{ 'profile.show.username'|trans }} :<br/><b>{{ user.username }}</b></p>
                                <p>{{ 'profile.show.email'|trans }} :<br/><b>{{ user.email }}</b></p>
                                <p>Nom :<br/><b>{{ user.lastname }}</b></p>
                                <p>Prénom :<br/><b>{{ user.firstname }}</b></p>
                            </div>
                            <div  class="col-md-6">
                                <p><a href="{{ path('fos_user_profile_edit') }}" class="green mt-30"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Modifier mes informations</a></p>
                                <p><a href="{{ path('fos_user_change_password') }}" class="green"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Modifier mon mot de passe</a></p>
                            </div>
                        </div>
                        <div class="col-sm-6 login boxProfil">
                            <h3 class="profilCaseTitle green">Mes observations</h3>
                            <div class="center mb-20">
                                <a href="{{ path('oc_platform_observation') }}" class="black"><i class="fa fa-map-marker fa-2x green" aria-hidden="true"></i> Ajouter une observation</a>
                            </div>
                            {% if userObservations is not empty %}
                                <div class="tableMaxHeight">
                                    <table class="table table-responsive">
                                        <tbody>
                                            {% for observation in userObservations %}
                                                <tr>
                                                    <td>{{ observation.date|date('d/m/Y') }}</td>
                                                    <td>
                                                        <a href="{{ path('oc_platform_single_consult', { 'id': observation.id }) }}"  title="Voir"><i class="fa fa-eye fa-lg green" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td class="center">
                                                        <button type="button" title="Supprimer" class="erase" data-toggle="modal" data-target="#observationDialog{{ observation.id }}"><i class="fa fa-times-circle fa-lg green" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <div class="modal fade" id="observationDialog{{ observation.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez vous supprimer cette observation ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('oc_platform_observSuppression', { 'id': observation.id }) }}" class="btn btn-danger">Confirmer</a>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="center">Aucune observation pour l'instant</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if is_granted('ROLE_NATURALIST') %}
                        <div id="valider" class="tab-pane fade">
                            <div class="login boxProfilDble">
                                <h3 class="profilCaseTitle green">Observations à valider</h3>
                                {% if ObservsToValid is not empty %}
                                    <div class="tableMaxHeight">
                                        <table class="table table-responsive">
                                            <tbody>
                                                {% for observation in ObservsToValid %}
                                                    <tr>
                                                        <td>{{ observation.date|date('d/m/Y') }}</td>
                                                        <td>
                                                            <a href="{{ path('oc_platform_single_consult', { 'id': observation.id }) }}"  title="Voir"><i class="fa fa-eye fa-lg green" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td class="center">
                                                            <button type="button" title="Supprimer" class="erase" data-toggle="modal" data-target="#validationDialog{{ observation.id }}"><i class="fa fa-times-circle fa-lg green" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" id="validationDialog{{ observation.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Voulez vous supprimer cette observation ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                    <a href="{{ path('oc_platform_observSuppression', { 'id': observation.id }) }}" class="btn btn-danger">Confirmer</a>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p class="center">Aucune observation à valider pour l'instant</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div id="blog" class="tab-pane fade">
                            <div class="col-sm-6 login mr-20 boxProfil">
                                <h3 class="profilCaseTitle green">Articles</h3>
                                <div class="center mb-20">
                                    <a href="{{ path('oc_platform_creation') }}" class="black"><i class="fa fa-plus fa-lg green" aria-hidden="true"></i> Créer un article</a>
                                </div>
                                <div class="tableMaxHeight">
                                    <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Titre</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for article in articles %}
                                                <tr>
                                                    <td class="col-sm-9">{{ article.title }}</td>
                                                    <td class="col-sm-3">
                                                        <a href="{{ path('oc_platform_article', { 'id': article.id }) }}" title="Voir" class="col-sm-4 center"><i class="fa fa-eye fa-lg green profilIcon" aria-hidden="true"></i></a>

                                                        <a href="{{ path('oc_platform_edition', { 'id': article.id }) }}" title="Editer" class="col-sm-4 center"><i class="fa fa-pencil-square-o fa-lg green profilIcon" aria-hidden="true"></i></a>

                                                        <button type="button" title="Supprimer" class="erase col-sm-4 center" data-toggle="modal" data-target="#articleDialog{{ article.id }}"><i class="fa fa-times-circle fa-lg green" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Voulez vous supprimer cette article ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('oc_platform_suppression', { 'id': article.id }) }}" class="btn btn-danger">Confirmer</a>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6 login boxProfil">
                                <h3 class="profilCaseTitle green">Commentaires signalés</h3>
                                <div class="blogMaxHeight">
                                    {% if comments is empty %}
                                        <p class="center">Aucun commentaire signalé</p>
                                    {% else %}
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Commentaire</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for comment in comments %}
                                                    <tr>
                                                        <td class="col-sm-9">{{ comment.content }}</td>
                                                        <td class="col-sm-3">
                                                            <a href="{{ path('oc_platform_article', { 'id': comment.article.id }) }}" title="Voir" class="col-sm-4 center"><i class="fa fa-eye fa-lg green profilIcon" aria-hidden="true"></i></a>
                                                            <a href="{{ path('oc_platform_commentValidation', { 'id': comment.id }) }}" title="Valider" class="col-sm-4 center"><i class="fa fa-check fa-lg green profilIcon" aria-hidden="true"></i></a>
                                                            <button type="button" title="Supprimer" data-toggle="modal" class="erase col-sm-4 center" data-target="#commentDialog{{ comment.id }}"><i class="fa fa-times-circle fa-lg green" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Voulez vous supprimer ce commentaire ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                                    <a href="{{ path('oc_platform_commentSuppression', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="naturalist" class="tab-pane fade">
                            <div class="login boxProfilDble">
                                <h3 class="profilCaseTitle green">Naturalistes</h3>
                                <div class="blogMaxHeight">
                                    {% if UsersToValid is empty %}
                                        <p class="center">Aucun naturaliste a valider</p>
                                    {% else %}
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Pseudo</th>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in UsersToValid %}
                                                    <tr>
                                                        <td>{{ user.username }}</td>
                                                        <td >{{ user.firstName }}</td>
                                                        <td>{{ user.lastName }}</td>
                                                        <td>
                                                            <a href="{{ path('oc_platform_userValidation', { 'id': user.id }) }}" title="Valider" class="center col-sm-6"><i class="fa fa-check fa-lg green profilIcon" aria-hidden="true"></i></a>
                                                            <a href="{{ path('oc_platform_userReset', { 'id': user.id }) }}" title="Ne pas valider"  class="center col-sm-6"><i class="fa fa-times-circle fa-lg green" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>