{# src/OC/PlatformBundle/Resources/views/Default/blog.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/nao_blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container blogContainer">

		<h1 class="titlePage mt-30 mb-50">Actualités</h1>

		{{ form_start(form, {'attr': {'class': 'form-inline '}}) }}

		{{ form_errors(form) }}

		{{ form_errors(form.content) }}

		<div class="input-group pull-right">
			{{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Recherche'}}) }}
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</span>
		</div>

		{{ form_rest(form) }}

		{{ form_end(form) }}

		{% if articles is empty %}
			<p>aucun article trouvé</p>
		{% else %}
			{% for article in articles %}
				<div class="blogArticle">
					<h3 class="blogTitle">{{ article.title }}</h3>
					<p class="blogDate">Posté le {{ article.datePost|date('d-m-Y') }}</p>
					{% if article.articlePicture is not null %}
						<div class="row">
							<img src="{{  asset('uploads/articlesPictures/'~article.articlePicture.path) }}" alt="{{ article.articlePicture.alt }}" class="img-responsive col-sm-3 hidden-xs" />
							<div class="col-sm-9">{{ article.content|truncate(400, true)|raw }}</div>
						</div>
					{% else %}
						{{ article.content|truncate(400, true)|raw }}
					{% endif %}
					<p class="blogButton"><a href="{{ path('oc_platform_article', { 'id': article.id }) }}" class="btn btn-default">Lire la suite</a></p>
				</div>
			{% endfor %}
		{% endif %}
	</div>

{% endblock %}