{% extends 'OCPlatformBundle::layout.html.twig'%}

{% block title %}{{ parent() }} - Consultation{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('chosen/chosen.css')}}">

    <style>
        body {
            background: url({{ asset('img/consultation.jpg') }}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }

        .bodyContent {
            margin-top: 30px;
            min-height: 77vh;
        }

        .titlePage {
            margin-bottom: 40px;
        }

        #search {
            background-color: rgba(255,255,255,0.75);
            padding-top: 20px;
        }

        #google-maps {
            position: relative;
            padding-bottom: 100%;
            height: 0;
            overflow: hidden;
        }

        #google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container bodyContent">
        <div class="row">
            <div class="titlePage" style="text-align: center;"><h1><strong>Consultation des contributions</strong></h1></div>
            <div class="col-lg-4 col-md-4" id="search">
                <h2 style="text-align: center;">Trouver un oiseau</h2>
                <p style="text-align: justify;">Choisissez l'oiseau pour lequel vous souhaitez avoir des informations
                    et visualisez sur la carte les zones géographiques dans lesquelles il a été observé par nos contributeurs.</p>
                <p>Vous pouvez sélectionner l'espèce recherchée dans la liste déroulante, ou saisir les premières lettres
                du nom de cette espèce pour accéder plus rapidement aux résultats correspondants.</p>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                    <span style="text-align: center; font-size: 0.85em; font-style: italic; color: orange;">{{ form_errors(form.nomVern) }}</span>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            {{ form_label(form.nomVern, "Espèce recherchée :", {'label_attr': {'class': 'control-label',
                                'style': 'font-size: 1.25em;'}}) }}<br />
                            <i>Nom scientifique - Nom vernaculaire</i><br />
                            {{ form_widget(form.nomVern, {'attr': {'class': 'chosen-select',
                                'style': 'color: black; max-width: 97%; margin: auto;'
                            }}) }}
                            <p><u>NB</u> : <i>(NC) signifie qu'il n'existe pas de nom vernaculaire français pour cette espèce.</i></p>
                        </div>
                    </div>
                    <br />
                    <div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn btn-primary" style="font-weight: bold; font-size: 1em;">Rechercher</button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                {% if bird is defined %}
                    <br />
                    <div style="text-align: center;">
                        <h4><u>Fiche détaillée :</u></h4>
                        <i>Nom</i> : {{ bird.nomVern }}
                        <br /><br />
                        <i>Nom scientifique (et "auteur")</i> :<br/>
                        {{ bird.lbNom }} ({{ bird.lbAuteur }})
                        <br /><br />
                        <i>Ordre</i> : {{ bird.ordre }}
                        <br /><br />
                        <i>Famille</i> : {{ bird.famille }}
                        <br /><br />
                        <p>Vous trouverez des informations complètes sur cet oiseau en suivant l'un de ces liens :</p>
                        {% if bird.nomVern == "" %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                    <img src="{{ asset('img/wiki.png') }}" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                    <br /><a href="https://fr.wikipedia.org/wiki/{{ bird.lbNom }}" target="_blank">
                                        {{ bird.lbNom }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                    <img src="{{ asset('img/INPN.png') }}" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                    <a href="https://inpn.mnhn.fr/espece/cd_nom/{{ bird.cdNom }}" target="_blank">
                                        {{ bird.lbNom }}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                    <img src="{{ asset('img/wiki.png') }}" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                        <br /><a href="https://fr.wikipedia.org/wiki/{{ bird.nomVern }}" target="_blank">
                                        {{ bird.nomVern }}</a>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                    <img src="{{ asset('img/INPN.png') }}" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                                   <a href="https://inpn.mnhn.fr/espece/cd_nom/{{ bird.cdNom }}" target="_blank">
                                        {{ bird.nomVern }}</a>
                                </div>
                            </div>
                        {% endif %}
                    <br />
                    </div>
                    {% if observs or observsToValid %}
                        {% if observs %}
                            <div style="text-align: center;">
                                <h4><u>Observations</u> :</h4>
                                {% for observ in observs %}
                                    {% if observ.validated == true %}
                                        <p>
                                            <a href="{{ path('oc_platform_single_consult', { 'id': observ.id })}}">Le {{ observ.date|date('d/m/Y') }}</a>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if observsToValid and is_granted('ROLE_NATURALIST')%}
                            <div style="text-align: center;">
                                <h4><u>En attente de validation</u> :</h4>
                                {% for observ in observsToValid %}
                                        <p>
                                            <a href="{{ path('oc_platform_single_consult', { 'id': observ.id })}}">Le {{ observ.date|date('d/m/Y') }}</a>
                                        </p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if observsToValid and is_granted('ROLE_NATURALIST') == false %}
                            <div style="text-align: center;">
                                <h4><i>Il y a une (ou plusieurs) observation(s) de cet oiseau en attente de validation.</i></h4>
                            </div>
                        {% endif %}
                    {% else %}
                        <div style="text-align: center;">
                            <h4><i>Aucune observation de cet oiseau n'a été effectuée pour l'instant.</i></h4>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-8 col-md-8">
                <div id="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5661311.975415188!2d-2.4349789918864757!3d46.14452325106444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1504695126093" width="800" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/resizeChosen.js')}}" type="text/javascript"></script>
    <script src="{{ asset('chosen/chosen.jquery.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('chosen/docsupport/prism.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('chosen/docsupport/init.js')}}" type="text/javascript" charset="utf-8"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANcgno_3O4dB6m99zL-yT-mpD07g2TD30&callback=initMap"
            type="text/javascript"></script>

    {% if not is_granted('ROLE_NATURALIST') and observs is defined %}
        <script>
            function initMap() {
                {% for observ in observs %}
                    if ({{ loop.length }} > 1) {
                        var circlesTable = [
                            {% for observ in observs %}
                            { lat:{{ observ.latitude }} + 0.05, lng:{{ observ.longitude }} + 0.05 },
                            {% endfor %}
                        ];
                        var circlesZone = new google.maps.LatLngBounds();

                        var map = new google.maps.Map(document.getElementById("google-maps"));

                        var opt = { minZoom: 6, maxZoom: 9 };
                        map.setOptions(opt);

                        circlesTable.forEach(function(latlng){
                            var latit = latlng.lat,
                                longi = latlng.lng;
                            var center = new google.maps.LatLng(latit, longi);
                            var circleOptions = {
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.5,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.5,
                                map: map,
                                center: center,
                                radius: 5000
                            };
                            var circle = new google.maps.Circle(circleOptions);
                            circlesZone.extend(circle.getCenter());
                        })

                        map.fitBounds(circlesZone);

                    } else {

                        var latitude = {{ observ.latitude }};
                        var longitude = {{ observ.longitude }};
                        var center = {
                            lat: latitude + 0.05,
                            lng: longitude + 0.05
                        };

                        var mapOptions = {
                            center: center,
                            zoom: 9
                        };

                        var map = new google.maps.Map(document.getElementById('google-maps'), mapOptions);

                        var opt = { minZoom: 6, maxZoom: 9 };
                        map.setOptions(opt);

                        for (var observ in map) {
                            var observCircle = new google.maps.Circle({
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.5,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.01,
                                map: map,
                                center: center,
                                radius: 5000
                            });
                        }
                    }
                {% endfor %}
            }
        </script>
    {% elseif is_granted('ROLE_NATURALIST') and observs is defined %}
        {% set observs = observs|merge(observsToValid) %}
        <script>
            function initMap() {
                {% for observ in observs %}
                if ({{ loop.length }} > 1) {
                    var markersTable = [
                        {% for observ in observs %}
                        { lat:{{ observ.latitude }}, lng:{{ observ.longitude }} },
                        {% endfor %}
                    ];
                    var markersZone = new google.maps.LatLngBounds();

                    var mapDiv = new google.maps.Map( document.getElementById("google-maps"));

                    markersTable.forEach(function(latlng){
                        var latit = latlng.lat,
                            longi = latlng.lng;
                        var contentString = '<div id="content" class="text-center">'+
                            '<h1 id="firstHeading" class="firstHeading">{{ observ.taxref.nomVern }}</h1>'+
                            '<div id="bodyContent">'+
                            '<p><b>Observé(e) le {{ observ.date|date('d/m/Y') }}</b></p>'+
                            '<p>par {{ observ.user.firstName }} {{ observ.user.lastName }}.</p>'+
                            '<p><u>Coordonnées GPS</u> :</p>'+
                            '<p>Latitude {{ observ.latitude }} - Longitude {{ observ.longitude }}</p>'+
                            '</div>'+
                            '</div>';
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        var markerOptions = {
                            map: mapDiv,
                            position: new google.maps.LatLng(latit, longi)
                        };
                        var marker = new google.maps.Marker(markerOptions);
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                        markersZone.extend(marker.getPosition());
                    })
                    mapDiv.fitBounds(markersZone);

                } else {

                    var latitude = {{ observ.latitude }};
                    var longitude = {{ observ.longitude }};
                    var center = {
                        lat: latitude,
                        lng: longitude
                    };

                    var mapOptions = {
                        center: center,
                        zoom: 10
                    };

                    var map = new google.maps.Map(document.getElementById('google-maps'), mapOptions);

                    var contentString = '<div id="content" class="text-center">'+
                        '<h1 id="firstHeading" class="firstHeading">{{ observ.taxref.nomVern }}</h1>'+
                        '<div id="bodyContent">'+
                        '<p><b>Observé(e) le {{ observ.date|date('d/m/Y') }}</b></p>'+
                        '<p>par {{ observ.user.firstName }} {{ observ.user.lastName }}.</p>'+
                        '<p><u>Coordonnées GPS</u> :</p>'+
                        '<p>Latitude {{ observ.latitude }} - Longitude {{ observ.longitude }}</p>'+
                        '</div>'+
                        '</div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });

                    var mark = [
                        {lat: latitude, lng: longitude}
                    ];

                    var latLng = new google.maps.LatLng(latitude, longitude);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        title: mark.title
                    });
                }
                {% endfor %}
            }
        </script>
    {% else %}
        <script>
            function initMap() {
                if(navigator.geolocation) {
                    function hasPosition(position) {
                        var point = new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                            myOptions = {
                                zoom: 12,
                                center: point,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            },
                            mapDiv = document.getElementById("google-maps"),
                            map = new google.maps.Map(mapDiv, myOptions),
                            marker = new google.maps.Marker({
                                position: point,
                                map: map
                            });

                        google.maps.event.addListener(map, 'click', function(event) {
                            placeMarker(event.latLng);
                        });

                        var marker;
                        function placeMarker(location) {
                            if(marker){ //on vérifie si le marqueur existe
                                marker.setPosition(location); //on change sa position
                            }else{
                                marker = new google.maps.Marker({ //on créé le marqueur
                                    position: location,
                                    map: map
                                });
                            }
                            document.getElementById("oc_platformbundle_observation_latitude").value=location.lat();
                            document.getElementById("oc_platformbundle_observation_longitude").value=location.lng();
                        }
                    }
                    navigator.geolocation.getCurrentPosition(hasPosition);
                }
            }
        </script>
    {% endif %}

{% endblock %}
