{# src/OC/PlatformBundle/Resources/views/Default/creation.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Création{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/nao_blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container bodyContent">
		{% for flashMessage in app.session.flashbag.get('info') %}
            <div class="container alert alert-success alert-dismissible mt-30 mb-30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
		<h1 class="titlePage mt-30 mb-50">Créer un article</h1>
		<div class="blogArticle">

			{{ form_start(form) }}

			{{ form_errors(form) }}

			<div class="form-group">
				{{ form_label(form.title) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(form.content) }}
				{% if form_errors(form.content) %}
					<div class="alert alert-danger text-center">
						{{ form_errors(form.content) }}
					</div>
				{% endif %}
				{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				<div class="upload">
					{{ form_widget(form.articlePicture, {'attr': {'class': 'browse'}}) }}
					<span type="button" class="btn fileSelectButton glyphicon glyphicon-camera"></span>
				</div>
			</div>
			<div class="right">
				<input type="submit" value="Enregistrer" class="btn btnNaoGreen">
			</div>

			{{ form_rest(form) }}

			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
	<script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}



