{# src/OC/PlatformBundle/Resources/views/Default/edition.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}


{% block body %}

	{{ form_start(form) }}

	{{ form_errors(form) }}

	<div class="form-group">
		{{ form_label(form.title) }}
		{{ form_errors(form.title) }}
		{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_label(form.content) }}
		{% if form_errors(form.content) %}
			<div class="alert alert-danger text-center">
				{{ form_errors(form.content) }}
			</div>
		{% endif %}
		{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_widget(form.articlePicture) }}
	</div>

	{% if article.articlePicture.id is not null %}
		<p><a href="{{ path('oc_platform_pictureSuppression', { 'id': article.articlePicture.id , 'articleId': article.id })}}">Supprimer l'image</a></p>
	{% endif %}

	

	<input type="submit" value="enregistrer" class="btn  btn-default">

	{{ form_rest(form) }}

	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
	<script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}

