{# src/OC/PlatformBundle/Resources/views/Default/edition.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Edition{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/nao_blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container bodyContent">
		<h1 class="titlePage mt-30 mb-50">Editer un article</h1>
		<div class="blogArticle">
			{{ form_start(form) }}

			{{ form_errors(form) }}

			<div class="form-group">
				{{ form_label(form.title) }}
				{{ form_errors(form.title) }}
				{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(form.content) }}
				{% if form_errors(form.content) %}
					<div class="alert alert-danger text-center">
						{{ form_errors(form.content) }}
					</div>
				{% endif %}
				{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				<div class="upload">
					{{ form_widget(form.articlePicture, {'attr': {'class': 'browse'}}) }}
					<span type="button" class="btn fileSelectButton glyphicon glyphicon-camera"></span>
				</div>
			</div>

			{% if article.articlePicture is not null %}
				<div>
					<img src="{{  asset('uploads/articlesPictures/'~article.articlePicture.path) }}" alt="{{ article.articlePicture.alt }}" class="img-responsive editImage" />
					<a href="{{ path('oc_platform_pictureSuppression', { 'id': article.articlePicture.id , 'articleId': article.id })}}"><i class="fa fa-trash-o fa-lg green" aria-hidden="true"></i> Supprimer l'image</a>
				</div>
			{% endif %}

			<div class="right">
				<input type="submit" value="enregistrer" class="btn btnNaoGreen">
			</div>

			{{ form_rest(form) }}

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
	<script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}

