{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% set homePage = true %}

{% block body %}
   
    <div id="imgAccueil">
        <h1 id="catchword" class="container col-xs-12"><span>NAO</span><br>L'association qui aime les oiseaux</h1>
        <a href="#firstPanel" id="discover" class="btn col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5">Découvrir<br><span class="glyphicon glyphicon-triangle-bottom"></span></a>
        <img src="{{ asset('img/accueil.jpg') }}" alt="Image accueil">
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div id="firstPanel" class="panelContain col-xs-12 col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Qui sommes nous ?</h3>
                    </div>
                    <div class="panel-content">
                        <P>"Nos Amis les Oiseaux" est une association regroupant les passionnés d'ornithologie. Elle compte à ce jour plus de 800 adhérents qui contribuent chaque jour...</P>
                        <div class="indexPanel pull-right">
                            <a class="infoBulle pull-right" data-toggle="tooltip" href="{{ path('oc_platform_qsn') }}" title="Lisez la suite" >
                                <div id="indexAbout"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelContain col-xs-12 col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Consultation</h3>
                    </div>
                    <div class="panel-content">
                        <P>Consultez les observations faites par nos observateurs et sachez ainsi où et comment se déplace telle ou telle espèce sur le territoire national métropolitain.</P>
                        <div class="indexPanel pull-right">
                            <a class="infoBulle pull-right" data-toggle="tooltip" href="{{ path('oc_platform_consultation') }}" title="Consultez les observations" >
                                <div id="indexConsult"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelContain col-xs-12 col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Observation</h3>
                    </div>
                    <div class="panel-content">
                        <P>Participez à notre étude en ajoutant les observations que vous avez faites dans votre jardin ou durant vos balades. N'attendez plus pour ajouter votre branche à l'édifice !</P>
                        <div class="indexPanel pull-right">
                            <a class="infoBulle pull-right" data-toggle="tooltip" href="{{ path('oc_platform_observation') }}" title="Renseignez une observation" >
                                <div id="indexObs"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panelContain col-xs-12 col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">S'inscrire</h3>
                    </div>
                    <div class="panel-content">
                        <P>Aidez-nous à étudier les effet du climat, de l'urbanisation et de l'agriculture sur la biodiversité. Inscrivez-vous et partagez vos observations avec les autres utilisateurs.</P>
                        <div class="indexPanel pull-right">
                            <a class="infoBulle pull-right" data-toggle="tooltip" href="{{ path('fos_user_registration_register') }}" title="Inscrivez-vous" >
                                <div id="indexSubscribe"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelContain col-xs-12 col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Se connecter</h3>
                    </div>
                    <div class="panel-content">
                        <P>Connectez-vous. Une fois connecté, vous pourrez consulter et compléter votre profil. Vous pourrez également saisir les observations que vous avez réalisées.</P>
                        <div class="indexPanel pull-right">
                            <a class="infoBulle pull-right" data-toggle="tooltip" href="{{ path('fos_user_security_login') }}" title="Connectez-vous" >
                                <div id="indexConnect"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panelContain col-xs-12 col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actualités</h3>
                    </div>
                    <div class="panel-content">
                        <P>Si vous voulez savoir ce qui ce passe dans le monde ornithologique, retrouvez tous nos articles sur la page d'actualités et faites nous part de vos commentaires.</P>
                        <div class="indexPanel pull-right">
                            <a class="infoBulle pull-right" data-toggle="tooltip" href="{{ path('oc_platform_blog') }}" title="Lisez les articles" >
                                <div id="indexBlog"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container backTop">
        <a class="up" href="#logo"><span class="glyphicon glyphicon-triangle-top"></span></a>
    </div>
{% endblock %}

