{# src/OC/PlatformBundle/Resources/views/Default/observ.html.twig #}

{% extends 'OCPlatformBundle::layout.html.twig'%}

{% set observPage = true %}

{% block title %}{{ parent() }} - Observation{% endblock %}

{% block stylesheets %}
    {{ parent() }}

	<link href="{{ asset('css/nao_obs.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <div class="container bodyContent">
        <div class="row">

            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="container alert alert-success alert-dismissible mt-30 mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            
            <h1 class="titlePage mt-30 mb-50">Partagez vos observations</h1>
            
            <div class="col-lg-4 col-md-4 search mb-20">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                
                <span class="formErrorMess">{{ form_errors(form.taxref) }}</span>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_label(form.taxref, "Choix de l'espèce observée :", {'label_attr': {'class': 'control-label'
                        }}) }}
                        {{ form_widget(form.taxref, {'attr': {'class': 'js-select2',
                            'style': 'width: 100%;'
                        }}) }}
                        <small>(NC) : Pas de nom vernaculaire français pour cette espèce.</small>
                    </div>
                </div>
                
                <span class="formErrorMess">{{ form_errors(form.latitude) }}</span>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_label(form.latitude, "Latitude :", {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.latitude, {'attr': {'class': 'form-control',
                            'placeholder': 'Coordonnées GPS : cliquez sur la carte'
                        }}) }}
                    </div>
                </div>
                
                <span class="formErrorMess">{{ form_errors(form.longitude) }}</span>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_label(form.longitude, "Longitude :", {'label_attr': {'class': 'control-label'
                        }}) }}
                        {{ form_widget(form.longitude, {'attr': {'class': 'form-control',
                            'placeholder': 'Coordonnées GPS : cliquez sur la carte'
                        }}) }}
                        <small>Si la géolocalisation de votre appareil est désactivée, vous devez saisir les coordonnées GPS de votre observation manuellement.</small>
                    </div>
                </div>
                <span class="formErrorMess">{{ form_errors(form.date) }}</span>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_label(form.date, "Date de l'observation :", {'label_attr': {'class': 'control-label'
                        }}) }}
                        {{ form_widget(form.date, {'attr': {'class': 'form-control',
                            'class': 'js-datepicker',
                            'placeholder': 'jj/mm/aaaa'
                        }}) }}
                    </div>
                </div>
                
                <span class="formErrorMess">{{ form_errors(form.picture) }}</span>
                <div class="form-group">
                    <div class="col-sm-12 upload">
                        {{ form_widget(form.picture, {'attr': {'class': 'browse'
                        }}) }}
                        <span type="button" class="btn fileSelectButton glyphicon glyphicon-camera"></span>
                    </div>
                </div>
                
                <span class="formErrorMess">{{ form_errors(form.flying) }}</span>
                <div class="form-group">
                    <div class="col-sm-12 myCheckbox">
                        {{ form_label(form.flying, "En vol : ", {'label_attr': {'class': 'control-label'
                        }}) }}
                        {{ form_widget(form.flying) }}
                    </div>
                </div>
                
                <span class="formErrorMess">{{ form_errors(form.comment) }}</span>
                <div class="form-group">
                    <div class="col-sm-12">
                        {{ form_label(form.comment, "Commentaire (facultatif) :", {'label_attr': {'class': 'control-label'
                        }}) }}
                        {{ form_widget(form.comment, {'attr': {'class': 'form-control',
                            'rows': '4'
                        }}) }}
                    </div>
                </div>
                
                <div class="container form-group">
                    <button type="submit" class="btn btnNaoGreen">Valider</button>
                </div>
                
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-lg-8 col-md-8 mapContainer">
                <div id="google-maps" class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5661311.975415188!2d-2.4349789918864757!3d46.14452325106444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1504695126093" width="800" height="800" frameborder="0" style="border:0;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/extSelect2.js') }}" type="text/javascript"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANcgno_3O4dB6m99zL-yT-mpD07g2TD30&callback=initMap"
            type="text/javascript"></script>

    <script src="{{ asset('js/geoloc.js') }}" type="text/javascript"></script>

{% endblock %}
