<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}NAO{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link href="{{ asset('css/nao_style.css') }}" rel="stylesheet">
            <link href="{{ asset('css/select2.css') }}" rel="stylesheet" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="{{ asset('js/select2.min.js') }}"></script>
        {% endblock %}

        <link href="{{ asset('img/logo-favicon.png') }}" rel="icon" type="image/x-icon"/>
    </head>

    <body>
       
        <nav id="navH" class="navbar navbar-default">
            <div class="container-fluid">
                    {% set route = app.request.attributes.get('_route') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if homePage is defined %}active{% endif %}"><a href="{{ path('oc_platform_homepage') }}">Accueil</a></li>
                        <li class="{% if consultPage is defined %}active{% endif %}"><a href="{{ path('oc_platform_consultation') }}">Consultation</a></li>
                        <li class="{% if observPage is defined %}active{% endif %}"><a href="{{ path('oc_platform_observation') }}">Observation</a></li>
                        <li class="{% if blogPage is defined %}active{% endif %}"><a href="{{ path('oc_platform_blog') }}">Actualités</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="{% if profilePage is defined %}active{% endif %}"><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                        {% else %}    
                            <li class="{% if loginPage is defined %}active{% endif %}"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                            <li class="{% if registerPage is defined %}active{% endif %}"><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button id="burgerBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-controls="navCollapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('oc_platform_homepage') }}">
                        <img id="logo" src="{{ asset('img/logo-titre.png') }}" alt="Logo NAO" />
                    </a>

                </div>
            </div>
        </nav>
        <div id="navCollapse" class="collapse">
            <nav class="navbar navbar-default">
                <div id="bgNav" class="container-fluid">
                    {% set route = app.request.attributes.get('_route') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if homePage is defined %}active{% endif %}"><a href="{{ path('oc_platform_homepage') }}">Accueil</a></li>
                        <li class="{% if consultPage is defined %}active{% endif %}"><a href="{{ path('oc_platform_consultation') }}">Consultation</a></li>
                        <li class="{% if observPage is defined %}active{% endif %}"><a href="{{ path('oc_platform_observation') }}">Observation</a></li>
                        <li class="{% if blogPage is defined %}active{% endif %}"><a href="{{ path('oc_platform_blog') }}">Actualités</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="{% if profilePage is defined %}active{% endif %}"><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                        {% else %}    
                            <li class="{% if loginPage is defined %}active{% endif %}"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                            <li class="{% if registerPage is defined %}active{% endif %}"><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        
        {% block body %}
          {% block fos_user_content %}{% endblock %}
        {% endblock %}
        
        <footer class="footer">
            <div class="container">
                <div id="mentions" class="col-xs-12 col-sm-4">
                    <a href="{{ path('oc_platform_mentions') }}">Mentions légales | </a>
                    <a href="{{ path('oc_platform_qsn') }}">À propos | </a>
                    <a href="{{ path('oc_platform_contact') }}"> Contact</a>
                </div>

                <div id="copyright" class="col-xs-12 col-sm-4">
                    <p>© NAO {{ 'now'|date('Y') }} | Tous droits réservés</p>
                </div>
                
                <div id="networks" class="col-xs-12 col-sm-4">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://www.pinterest.fr/"><i class="fa fa-pinterest-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/?lang=fr"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                </div>
            </div>
        </footer>
        

        {% block javascripts %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
            <script src="{{ asset('js/datepicker.js') }}"></script>
            <script src="https://use.fontawesome.com/59b5fb4587.js"></script>

            <script>
                $(document).ready(function() {
                    $('#discover, .up').on('click', function(e) {
                        e.preventDefault();
                        var hash = this.hash;
                        $('html, body').animate({
                            scrollTop: $(this.hash).offset().top
                        }, 1000, function() {
                            window.location.hash = hash;
                        });
                    });
                });
            </script>
            
            <script>
                $(function())
                    $('#burgerBtn').on('click', function() {
                        $('#navCollapse').collapse({
                            show: true
                        });
                    });
                });
            </script>
            
            <script>
                $(function() {
                    $('.infoBulle').tooltip({
                        delay: {
                            show: 200,
                            hide: 50
                        }
                    });
                });
            </script>
            
            <script>
                $('.alert').delay(4000).hide('slow');
            </script>   
            
            <script>
                $('.fileSelectButton').click(function(){
                    $('.upload input').click();
                }); 
            </script>
            
            <script>
                $(function() {
                    $('.search').niceScroll({
                        cursoropacitymin: 1,
                        cursorcolor:'#017a74',
                        cursorwidth: 6,
                        cursorfixedheight: 35,
                        cursorborder: '0px solid transparent',
                        cursorborderradius: '45px',
                        touchbehavior: true,
                        horizrailenabled: false
                    });
                });
            </script>

        {% endblock %}

    </body>
</html>